{
border: 1px solid blue;
}
html, body{
height: 100%;
}
header {
background-image: url('../img/background.jpg');
background-repeat: no-repeat;
background-position: center; 
height: 829px;
}
.base_page {
height: 100%;
}
.cpk_img {
padding-left: 0;
padding-top: 10px;
}
.base_page_2 {
background-image: url('../img/cudzyslow.png');
background-size: 60px 50px;
margin-top: 15px;
background-repeat: no-repeat;
max-width: 600px;
}
.kolejny_raz {margin-top: 40px; padding-left: 0; font-family: PT Serif; font-size: 24px; line-height: 29px; color: #2b2f40; font-weight: bold; padding-right: 0;}
.pomoz {margin-top: 30px; font-family: PT Sans; font-size: 20px; color: #ff5a00; background-color: #f1f1f1; border-radius: 7pt; padding: 15px;}
.count {margin-top: 30px; font-family: PT Sans; font-size: 16px; line-height: 26px; color: #2b2f40}
.payment {margin-top: 25px; font-family: PT Sans; padding-left: 0; padding-right: 0; text-align: center;}
.lub_wpisz {margin-top: 40px; text-align: center; font-family: PT Sans; font-size: 16px; color: #2b2f40;}
.pay_pal {
display: inline-block;
border-radius: 7pt;
border: 4px solid #e20000;
background-color: #f1f1f1;
width: 145px;
height: 160px;
}
#payment_left {
margin-left: 0;
float: left;
}
.img_in_pay {
height: 60px;
text-align: center;
}
#img_in_pay_stet {
padding: 5%;
}
.inside_div_1 {
height: 40px;
text-align: center;
color: #2b2f40;
background-color: #f1f1f1;
font-weight: bold;
font-size: 13px;
padding-bottom: 2%;
}
.inside_div_2 {
height: 55px;
width: 100%;
text-align: center;
color: #f1f1f1;
background-color: #e20000;
padding-bottom: 10px;
padding-top: 10px;
font-size: 13px;
}
#payment_right {
float: right;
}
.button_all {
font-size: 16px;
color: #f1f1f1;
background-color: #e20000;
border-radius: 7pt;
padding: 12px;
width: 250px;
display: inline;
}
.last_button {
margin-top: 25px; 
text-align: center;
width: 100%;
}
.content_title {
font-family: PT Serif;
font-size: 26px;
font-weight: bold;
color: #FF4F00;
margin-top: 30px;
}
#color_1 {color: #ff5a00}
#color_2 {color: #ff5a00}
.content-text {
font-family: PT Sans;
font-size: 15px;
text-align: justify;
}
.before_foot {
font-family: PT Serif; 
font-size: 26px; 
color: #2b2f40; 
font-weight: bold;
padding-top: 30px;
padding-bottom: 30px;
}
.button_all_2 {
font-size: 20px;
text-align: center;
color: #f1f1f1;
background-color: #e20000;
border-radius: 7pt;
font-family: PT Sans;
padding-top: 12px;
padding-bottom: 12px;
}
.pasek {
background-image: url('../img/pasek_dolny.jpg');
background-size: 100% 100%;
}
.content_2 {
font-family: PT Sans;
font-size: 12px;
padding-top: 40px;
padding-bottom: 40px;
}
.content_3 {
font-family: PT Sans;
padding-top: 40px;
}
/*small Desktop*/
@media (min-width: 768px) and (max-width: 1235px) {
.base_page_2 {max-width: 364px; margin-top: 10px; background-size: 45px 45px;}
.kolejny_raz {font-size: 12px; margin-top: 30px; }
.pomoz {font-size: 12px; margin-top: 20px}
.count {font-size: 10px; margin-top: 20px}
.lub_wpisz {font-size: 10px; margin-top: 20px}
.button_all {font-size: 10px; margin-top: 20px}
.pay_pal {width: 100px; height: 120px; border: 2px solid #e20000; margin-top: 10px}
.img_in_pay {height: 40px}
.inside_div_1 {height: 35px; font-size: 10px;}
.inside_div_2 {height: 43px; padding-bottom: 5px; padding-top: 5px; font-size: 10px; border-radius: 0 0 7pt 7pt}
.last_button {width: 184px; margin-left: 85px;}
}
/*for Phone and Tablets*/
@media only screen and (max-width: 767px) {
.base_page_2 {max-width: 767px}
.white_box {
position: absolute;
bottom: 0px;
left: 0px; 
background: rgba(241,241,241,0.8);
padding-top: 10px;
}
.kolejny_raz_phone {font-family: PT Serif; font-size: 26px; color: #2b2f40; font-weight: bold; padding-top: 25px;
background-image: url('../img/cudzyslow.png');
background-size: 45px 45px;
background-repeat: no-repeat;
text-align: justify;
}
.pomoz_phone {font-family: PT Sans; font-size: 15px; color: #ff5a00; padding-top: 25px; padding-bottom: 25px; text-align: justify;}
.kolejny_raz_phone {font-size: 15px}
.base_page_2 {background-image: none}
.count {margin-top: 10px}
.content_title {font-size: 20px}
.content_1 {padding-left: 0px; padding-right: 0px;}
.last_button {margin-bottom: 35px;}
.before_foot {font-size: 18px}
.content_3 {padding-top: 40px; width: 100%; text-align: center}
.button_all_2 {width: 250px; display: inline;}
}
/*small Tablets only*/
@media (min-width: 545px) and (max-width: 767px) {
header {
height: 100%;
background-image: url('../img/background_tablet.jpg');
background-size: 100% 100%;
}
}
/*Only phone */
@media only screen and (max-width: 544px) {
header {height: 100%; background-image: url('../img/background_phone.jpg'); background-size: 100% 100%}
.kolejny_raz_phone {padding-top: 20px; background-size: 30px 30px}
.pomoz_phone {padding-top: 20px; padding-bottom: 20px}
.payment {display: none;}
.count {margin-bottom: 20px}
.control_box {
width: 100%;
text-align: center;
margin-bottom: 30px;
}
.pay_pal_phone {
display: inline-block;
width: 145px;
height: 160px;
border-radius: 7pt;
border: 4px solid #e20000;
background-color: #f1f1f1;
}
}
/* pay-pal */
@media only screen and (min-width: 544px) {
#payment_phone {display: none}
}
