{
border: 1px solid blue;
}
html, body{
height: 100%;
}
a.link {text-decoration: none}
header {
background-image: url('../img/background.jpg');
background-repeat: no-repeat;
background-position: center; 
height: 829px;
z-index: 9;
}
.base_page {
height: 100%;
}
.cpk_img {
margin-left: 5%;
margin-top: 25px;
width:130px;
height: 100px;
}
.base_page_2 {
background-image: url('../img/cudzyslow.png');
background-size: 60px 45px;
margin-top: 20px;
background-repeat: no-repeat;
max-width: 600px;
}
.left {float: right; width: 100%;}
.kolejny_raz {margin-top: 35px; padding-left: 0; font-family: PT Serif; font-size: 24px; line-height: 29px; color: #2b2f40; font-weight: bold; padding-right: 0;}
.pomoz {margin-top: 30px; font-family: PT Sans; font-size: 20px; color: #ff5a00; background-color: #f1f1f1; border-radius: 7pt; padding: 15px;}
.count {margin-top: 15px; font-family: PT Sans; font-size: 16px; line-height: 26px; color: #2b2f40}
.payment {font-family: PT Sans; padding-left: 0; padding-right: 0; text-align: center;}
.lub_wpisz {margin-top: 30px; text-align: center; font-family: PT Sans; font-size: 16px; color: #2b2f40;}
.pay_pal {
z-index: 10;
display: inline-block;
border-radius: 7pt;
border: 4px solid #e20000;
background-color: #f1f1f1;
width: 155px;
height: 160px;
margin-top: 30px;
}
#payment_left {
margin-left: 0;
float: left;
}
.img_in_pay {
height: 60px;
text-align: center;
}
#img_in_pay_stet {
padding: 5%;
}
.inside_div_1 {
font-family: PT Sans;
height: 40px;
text-align: center;
color: #2b2f40;
background-color: #f1f1f1;
font-weight: bold;
font-size: 13px;
padding-bottom: 20px;
line-height: 15px;
}
.inside_div_2 {
height: 55px;
width: 100%;
text-align: center;
color: #f1f1f1;
background-color: #e20000;
padding-bottom: 10px;
padding-top: 10px;
font-size: 15px;
line-height: 19px;
}
#payment_right {
float: right;
}
.button_all {
font-size: 16px;
color: #f1f1f1;
background-color: #e20000;
border-radius: 7pt;
padding: 12px;
padding-left: 30px;
padding-right: 30px;
width: 250px;
display: inline;
}
.last_button {
margin-top: 25px; 
text-align: center;
width: 100%;
font-family: PT Sans;
}
.content_title {
font-family: PT Serif;
font-size: 26px;
font-weight: bold;
color: #FF4F00;
margin-top: 30px;
max-width: 600px;
}
#color_1 {color: #ff5a00}
#color_2 {color: #ff5a00}
.content-text {
font-family: PT Sans;
font-size: 15px;
text-align: justify;
max-width: 600px;
}
.before_foot {
font-family: PT Serif; 
font-size: 26px; 
color: #2b2f40; 
font-weight: bold;
padding-top: 30px;
padding-bottom: 30px;
}
.button_all_2 {
font-size: 25px;
text-align: center;
color: #f1f1f1;
background-color: #e20000;
border-radius: 4pt;
font-family: PT Sans;
padding-top: 12px;
padding-bottom: 12px;
width: 300px
}
.pasek {
background-image: url('../img/pasek_dolny.jpg');
background-size: 100% 100%;
}
.content_2 {
font-family: PT Sans;
font-size: 12px;
padding-top: 40px;
padding-bottom: 40px;
}
.content_3 {
font-family: PT Sans;
padding-top: 40px;
}
/*small Desktop*/
@media (min-width: 992px) and (max-width: 1235px) {
header {background-image: url('../img/background_2.jpg'); height: 665px;}
.base_page_2 {max-width: 450px; margin-top: 10px; background-size: 45px 45px;}
.kolejny_raz {font-size: 17px; margin-top: 20px; line-height: 23px;}
.pomoz {font-size: 15px; margin-top: 25px}
.count {font-size: 15px; margin-top: 12px;}
.lub_wpisz {font-size: 13px; margin-top: 20px}
.button_all {font-size: 13px; margin-top: 20px}
.pay_pal {width: 120px; height: 130px; border: 2px solid #e20000; margin-top: 25px}
.img_in_pay {height: 50px}
.inside_div_1 {height: 35px; font-size: 12px; line-height: 15px;}
.inside_div_2 {height: 43px; padding-top: 3px; font-size: 12px; border-radius: 0 0 7pt 7pt}
.cpk_img {width:100px; height: 80px; margin-left: 3%}
.button_all_2 {font-size: 20px; width: 250px}
}
/*for Phone and Tablets*/
@media only screen and (max-width: 992px) {
header {background-image: url('../img/background_3.jpg'); height: 548px;}
.base_page_2 {max-width: 992px; background-image: none;}
.white_box {
position: absolute;
bottom: 0px;
left: 0px; 
background: rgba(241,241,241,0.8);
padding-top: 10px;
}
.kolejny_raz_phone {font-family: PT Serif; font-size: 23px; color: #2b2f40; font-weight: bold; padding-top: 25px;
background-image: url('../img/cudzyslow.png');
background-size: 45px 45px;
background-repeat: no-repeat;
padding-left: 3%; 
padding-right: 3%
}
.pomoz_phone {font-family: PT Sans; font-size: 20px; color: #ff5a00; padding-top: 25px; padding-bottom: 25px; padding-left: 3%; padding-right: 3%}
.content_title {padding-left: 5%; padding-right: 5%; max-width: 992px;}
.content-text {padding-left: 5%; padding-right: 5%; max-width: 992px;}
.count {margin-top: 15px; margin-bottom: 45px; margin-left: 1%;}
.content_1 {padding-left: 0px; padding-right: 0px;}
.last_button {margin-bottom: 75px}
.button_all {padding-left: 35px; padding-right: 35px}
.before_foot {padding-left: 5%; padding-right: 5%; font-size: 20px; margin-bottom: 35px;}
.content_3 {width: 100%; text-align: center; margin-bottom: 35px;}
.button_all_2 {padding-left: 20px; padding-right: 20px; display: inline;}
.pay_pal {width: 150px; height: 150px;}
.inside_div_2 {height: 50px; padding-top: 5px;}
.inside_div_1 {height: 35px}
.cpk_img {width:100px; height: 80px; margin-left: 0px; margin-top: 20px;}
.content_2 {padding-left: 25px; margin-bottom: 25px;}
#payment_left {margin-left: 10%;}
#payment_right {margin-right: 10%;}
}
@media (min-width: 544px) and (max-width: 700px) {
#payment_left {margin-left: 0%;}
#payment_right {margin-right: 0%;}
}
/*Only phone */
@media only screen and (max-width: 544px) {
header {background-image: url('../img/background_4.jpg'); height: 440px;}
.kolejny_raz_phone {font-size: 16px; padding-top: 20px; background-size: 30px 30px}
.pomoz_phone {padding-top: 20px; padding-bottom: 20px; font-size: 14px; }
.count {margin-bottom: 20px; font-size: 14px;}
.control_box {
width: 100%;
text-align: center;
margin-bottom: 30px;
}
.content_title {font-size: 20px;}
.before_foot {font-size: 16px; }
.pay_pal_phone {
font-family: PT Sans;
display: inline-block;
width: 160px;
height: 160px;
border-radius: 7pt;
border: 4px solid #e20000;
background-color: #f1f1f1;
}
.inside_div_2 {height: 55px; padding-top: 10px;}
.inside_div_1 {height: 40px}
.payment {display: none;}
.cpk_img {width:50px; height: 40px; position: absolute; left: 0px}
.button_all_2 {font-size: 20px; }
}
/* pay-pal */
@media only screen and (min-width: 544px) {
#payment_phone {display: none}
}
