<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<html>
<head>
  <title>Centrum Praw Kobiet</title>
  
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">  
  <link href="//fonts.googleapis.com/css?family=PT Serif&subset=latin,latin-ext" rel="stylesheet" type="text/css">  
  <link href="//fonts.googleapis.com/css?family=PT Sans&subset=latin,latin-ext" rel="stylesheet" type="text/css">   
  <link rel="stylesheet" href="{% static 'css/centrum.css' %}">
  
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta name="format-detection" content="telephone=no">
  
</head>
<body>
<header class="col-md-12">
	<!--For phones and tablets only-->
		<div class="col-xs-12 col-sm-12 hidden-md hidden-lg white_box">
			<p class="col-xs-12 col-sm-12 hidden-md hidden-lg kolejny_raz_phone">
				Kolejny raz mnie pobił, więc od niego uciekłam.
				Zabrał mi dzieci, dom i dostęp do konta.
				Bez prawnika nie odzyskam swojego życia.
			</p>
			<p class="col-sm-12 col-sm-12 hidden-md hidden-lg pomoz_phone">
				Pomóż kobietom, które doświadczają przemocy w domu.
				Twoje wsparcie uwolni je od życia w ciągłym strachu i bólu.
			</p>
		</div>
	<!--End for phone-->	
	<div class="col-sm-6 col-xs-12 base_page">
		<img class="cpk_img" src="{% static "img/cpk_logo.png" %}" alt="cpk"/>		
	</div>
	<div class="col-xs-12 col-sm-12 base_page_2">
		
		<p class="kolejny_raz hidden-xs hidden-sm">
			Kolejny raz mnie pobił, więc od niego uciekłam.</br>
			Zabrał mi dzieci, dom i dostęp do konta.</br>
			Bez prawnika nie odzyskam swojego życia.
		</p>
		
		<p class="pomoz hidden-xs hidden-sm">
			Pomóż kobietom, które doświadczaja przemocy w domu.</br>
			Twoje wsparcie uwolni je od życia w ciągłym strachu i bólu.
		</p>
		
		<ul class="count col-xs-12 col-sm-12">
			<li>Wybierasz cel</li>
			<li>Wpłacasz dowolną kwotę</li>
			<li>Ofiara przemocy otrzymuje wsparcie</li>
		</ul>
		
		
		<!--For phones only-->
		<div id="payment_phone">
			
			<div class="control_box">
				<a href="https://ssl.dotpay.pl/?pid=XBS63EH3JFP7ZTQ2GRJQSY9Z8HD7JNT9" target="_blank">		
					<div class="pay_pal_phone">	
						<img class="img_in_pay" src="{% static "img/bed.svg" %}" alt="bed"/>
						<div class="inside_div_1">BEZPIECZNY</br> NOCLEG</div>
						<p class="inside_div_2"><b>wpłacam</br><font size="4">47</font></b></p>			
					</div>
				</a>
			</div>
			
			<div class="control_box">
				<a href="https://ssl.dotpay.pl/?pid=XBS63EH3JFP7ZTQ2GRJQSY9Z8HD7JNT9" target="_blank">
					<div class="pay_pal_phone">
						<img class="img_in_pay" src="{% static "img/paragraf.svg" %}" alt="paragraf"/>
						<div class="inside_div_1">PORADA</br> PRAWNA</div>
						<p class="inside_div_2"><b>wpłacam</br><font size="4">85</font></b></p>
					</div>
				</a>
			</div>
			<div class="control_box">
				<a href="https://ssl.dotpay.pl/?pid=XBS63EH3JFP7ZTQ2GRJQSY9Z8HD7JNT9" target="_blank">
					<div class="pay_pal_phone">
						<img class="img_in_pay" id="img_in_pay_stet" src="{% static "img/stethoscope.svg" %}" alt="stethoscope"/>
						<div class="inside_div_1">OBDUKCJA</br> LEKARSKA</div>
						<p class="inside_div_2"><b>wpłacam</br><font size="4">150</font></b></p>
					</div>
				</a>
			</div>
		</div>
		<!--End for phones-->
					
		<div class="payment">
			<a href="https://ssl.dotpay.pl/?pid=XBS63EH3JFP7ZTQ2GRJQSY9Z8HD7JNT9" target="_blank">
				<div class="pay_pal" id="payment_left">			
					<img class="img_in_pay" src="{% static "img/bed.svg" %}" alt="bed"/>
					<div class="inside_div_1">BEZPIECZNY</br> NOCLEG</div>
					<p class="inside_div_2"><b>wpłacam</br><font size="4">47</font></b></p>			
				</div>
			</a>
			
			<a href="https://ssl.dotpay.pl/?pid=XBS63EH3JFP7ZTQ2GRJQSY9Z8HD7JNT9" target="_blank">
				<div class="pay_pal" id="payment_center">
					<img class="img_in_pay" src="{% static "img/paragraf.svg" %}" alt="paragraf"/>
					<div class="inside_div_1">PORADA</br> PRAWNA</div>
					<p class="inside_div_2"><b>wpłacam</br><font size="4">85</font></b></p>
				</div>
			</a>
				
			<a href="https://ssl.dotpay.pl/?pid=XBS63EH3JFP7ZTQ2GRJQSY9Z8HD7JNT9" target="_blank">			
				<div class="pay_pal" id="payment_right">
					<img class="img_in_pay" id="img_in_pay_stet" src="{% static "img/stethoscope.svg" %}" alt="stethoscope"/>
					<div class="inside_div_1">OBDUKCJA</br> LEKARSKA</div>
					<p class="inside_div_2"><b>wpłacam</br><font size="4">150</font></b></p>				
				</div>
			</a>
		</div>
		<p class="lub_wpisz">lub wpisz kwotę:</p>
		<div class="last_button">
				<div class="button_all">
					wpłacam
					............ >>
				</div>
		</div>		
	</div>
</header>
<section class="col-md-12 content">
	<div class="col-md-5 col-md-offset-1 content_1">
		<p class="col-md-12 content_title left" id="color_1">Dlaczego potrzebujemy Twojej pomocy właśnie teraz?</p>
		<p class="col-md-12 content-text left">
			Trudno w to uwierzyć, ale są mężczyźni, którzy regularnie znęcają się nad swoimi partnerkami.  Często dzieje się to w tak zwanych „normalnych rodzinach”. <b>Brak samodzielności finansowej kobiet oraz ich strach o bezpieczeństwo dzieci powoduje, że same nie potrafią odejść.</b>  Przemoc, której doznają przez miesiące, a nawet lata, zaciska się wokół nich jak pętla i staje się zagrożeniem dla ich życia. </br></br>
			Centrum Praw Kobiet udziela rocznie pomocy średnio 5500 kobietom, które stały się ofiarami przemocy.  Zgłaszają się do nas, ponieważ często jesteśmy ich ostatnią nadzieją.  Nie mają pieniędzy, by opłacić adwokatów, lekarzy, psychologów. Jesteśmy jedyną drogą ratunku dla nich oraz ich dzieci.</br></br>
			<b>W tym roku nie otrzymaliśmy dofinansowania z Ministerstwa, z uzasadnieniem, że pomagamy tylko kobietom…</b>  Mimo to chcemy nadal udzielać pomocy każdej kobiecie,  która się do nas zgłosi.  Bez wsparcia finansowego darczyńców nie będzie to możliwe. </br></br>
		</p>
	</div>
	<div class="col-md-5 col-md-offset-right-1 content_1">
		<p class="col-md-12 content_title" id="color_2">Jak pomagamy kobietom doświadczającym przemocy?</p>
		<p class="col-md-12 content-text">
			Fundacja Centrum Praw Kobiet powstała w 1994 roku. Udzielamy pomocy prawnej i psychologicznej kobietom – ofiarom przemocy oraz dyskryminacji.  <b>Przez 22 lata działalności pomogliśmy 67450 kobietom.</b>  Prowadzimy 5 poradni dla kobiet doświadczających przemocy: w Warszawie, Gdańsku, Wrocławiu, Łodzi i Żyrardowie. Prowadzimy także Specjalistyczny Ośrodek Wsparcia, gdzie kobiety wraz z dziećmi mogą znaleźć schronienie i bezpieczny nocleg.</br></br>
			<b>Każda kobieta, która przychodzi do poradni zostaje objęta kompleksową opieką i może bezpłatnie skorzystać z porad prawnych</b> – z zakresu prawa karnego i rodzinnego, z porad psycholożki specjalizującej się w interwencjach kryzysowych, a także z pomocy doradczyni zawodowej, która wspiera ją w znalezieniu pracy i usamodzielnieniu się.</br></br>
			Bardzo ważnym elementem naszego kompleksowego programu pomocy jest wsparcie pokrzywdzonej podczas rozprawy sądowej.  Nasza obserwatorka towarzyszy kobiecie w sądzie i pomaga jej przetrwać konfrontację ze sprawcą na sali sądowej. </br></br>
		</p>
	</div>
</section>
<div class="col-md-12 pasek">
	<div class="col-md-10 col-md-offset-1 before_foot">
		Każda złotówka jest ważna, ponieważ zapewnia bezpieczeństwo kobiecie i jej dzieciom - ofiarom przemocy.
	</div>
</div>
<footer class="col-md-12">
	<div class="hidden-xs hidden-sm col-md-5 col-md-offset-1 content_2">
		<b>Fundacja Centrum Praw Kobiet</b> – organizacja pożytku publicznego,</br> 
		ul. Wilcza 60 lok.19, 00-679 Warszawa</br>
		KRS: 0000188668 </br>
		Kontakt: tel. 22 622-25-17, e-mail: sekretariat@cpk.org.pl, <b>www.cpk.org.pl</b></br>
		nr konta w Banku PKO BP:  <b>59 1020 1156 0000 7102 0059 9241</b></br>
		PayPal: <b>temida@cpk.org.pl</b>
	</div>
	<div class=" hidden-xs hidden-sm col-md-6 content_3">
		<a href="https://ssl.dotpay.pl/?id=59928&amp;waluta=PLN&amp;opis=Darowizna+na+rzecz+Stowarzyszenie+mali+bracia+Ubogich+-+kolacja+wigilijna+dla+samotnej+osoby+2015" target="_blank">
			<div class="col-md-7 col-md-offset-2 content_4 button_all_2"><b>Przekaż darowiznę >></b></div>
		</a>
	</div>
	<!--For phones and tablets only-->
	<div class="col-xs-12 col-sm-12 hidden-md hidden-lg content_3">
		<a href="https://ssl.dotpay.pl/?id=59928&amp;waluta=PLN&amp;opis=Darowizna+na+rzecz+Stowarzyszenie+mali+bracia+Ubogich+-+kolacja+wigilijna+dla+samotnej+osoby+2015" target="_blank">
			<div class="content_4 button_all_2"><b>Przekaż darowiznę >></b></div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-12 hidden-md hidden-lg content_2">
		<b>Fundacja Centrum Praw Kobiet</b> – organizacja pożytku publicznego,</br> 
		ul. Wilcza 60 lok.19, 00-679 Warszawa</br>
		KRS: 0000188668 </br>
		Kontakt: tel. 22 622-25-17, e-mail: sekretariat@cpk.org.pl, <b>www.cpk.org.pl</b></br>
		nr konta w Banku PKO BP:  <b>59 1020 1156 0000 7102 0059 9241</b></br>
		PayPal: <b>temida@cpk.org.pl</b>
	</div>
	<!--End for phones and tablets-->
</footer>
</body>
</html>
